*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
}

p{font-family: 'Montserrat', sans-serif;}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:hover{
    color: rgb(20, 219, 20);
}

.navbar-brand{
    height: 50px;
    width: 100px;
}

.search{
    height: 45px;
    outline: none;
    border:2px solid rgb(20, 219, 20);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}

.btn1:hover{
    background-color: rgb(13, 172, 13);
}

.bi-basket{
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}

.bi-basket:hover{
    color: rgb(20, 219, 20);
}

.bi-person-fill{
    font-size: 34px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}
.bi-box-arrow-right{
    font-size: 34px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}

.bi-box-arrow-right:hover{
    color: rgb(20, 219, 20);
}
.bi-person-fill:hover{
    color: rgb(20, 219, 20);
}