

a {
   color: black!important; 
    text-decoration: none !important;
}
#buttonAjout{
    color: white!important; 
    text-decoration: none !important;
}
#buttonAjout:hover{
    color:rgb(20, 219, 20)!important; 
    text-decoration: none !important;
}


a:hover {
    color: rgb(20, 219, 20) !important; 
    text-decoration:none; 
    cursor:pointer;  
}

.disponible{
    color: rgb(96, 199, 96);
}

.rupture{
    color: red;
}

.Peudisponible{
    color: orange;
}

.image-frame {
    width: 250px;
    height: 200px;
    overflow: hidden; /* Pour s'assurer que les images ne dépassent pas la taille du cadre */
    display: flex;
    align-items: center;
}